{{!-- <div class="wrapper"> --}}
<h1>Greeted users</h1>
<h4>Please click on each user to see how many times they've been greeted</h4>

{{!-- <p>Please click on a user to see how many times they have been greeted</p> --}}
<ul>
    {{#each nameList}}
        <li><a href="/counter">{{this.user_name}}</a></li>
    {{/each}}
</ul>

{{!-- </div> --}}