{{!-- <div class="wrapper"> --}}
<h1>Greeted users</h1>
<h4>Greeted users will appear here:</h4>
<ul>
    {{#each nameList}}
        <li><a href="/counter">{{this.user_name}}</a></li>
    {{/each}}
</ul>
<button id="reset"><a href="/back">Back</a></button>